*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0  5px rgb(197, 180, 180);
    align-items: center;
    padding: 10px;
}
#left{
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 5px;
}
#container{
    background-color: gray;
}
#nav-button{
    border: 1px orange solid;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
}
#nav-button:hover{
    background-color: rgb(252, 3, 140);
}
#body{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 0 50px;
}
#h1{
    font-size: larger;
    font-weight: bolder;
}
#top_coins{
    color: orange;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
#coins{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 95%;
    border: 2px solid purple;
    margin-top: 20px;
    position: relative;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes example {
    0%   { left:0px; }
    
    50%  { left:500px;}
    
    100% {left:-200px; }
  }
#bottom{
    margin-top: 50px;
}

#coin_search{
    padding: 100px;
}